[Unit]
Description=Thinkpad undocked moves

[Service]
Type=oneshot
Environment=DISPLAY=:0.0 PULSE_RUNTIME_PATH=/run/user/1000/pulse
User=gshepelev
ExecStart=/usr/bin/xrandr --output VIRTUAL1 --off --output eDP1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP1 --off --output DP2-1 --off --output DP2-2 --off --output DP2-3 --off --output HDMI2 --off --output HDMI1 --off --output DP2 --off
ExecStart=/usr/bin/pacmd set-default-sink alsa_output.pci-0000_00_1b.0.analog-stereo
ExecStart=/home/gshepelev/Yandex.Disk/Scripts/undocked.sh

[Install]
WantedBy=undocked.target
